page-show-symtoms {
.subHeader{
    color:gray;
}
.sympHead{
    padding-top:20px;
    padding-left: 10px;
    color:gray;
    
    font-size: 20px;
}

.calendar{
    padding-bottom: 10px;
}
.time{
   // text-align: right;
}
.h2{
    padding-top:5px;
}
ion-fab {
    position: fixed;
    padding-bottom: 50px;
    
  }
}
