page-qapost {
    .header{
        font-size: 20px;
        color: white;
        
    }
    
    .main{
        font-size: 20px;
       
        padding-left: 10px;
        
    }
    
   
    .head{
        font-size: 22px;
       
        padding-left: 10px;
        
    }
    .comment{
        padding: 5px;
        font-size: 20px;
        
    }
    .sub{
        padding-top: 25px;
        padding-bottom: 25px;
    }
    .date{
        font-size: 15px;
        color:gray;
        text-align: center;
    }
    .commentSub{
        color:gray;
         padding-top: 5px;
    }
    .person{
        color:gray;
        font-size: 15px;
    }
    .bin{
        text-align: right;
        color:black;
        
    }
}