page-game {
    h1{
        color: black;
        padding-left: 5px;
        color: #122A82  ;
        font-size: 3px;
    }
    h3{
        font: bold;
        padding-left: 5px;
        padding-right: 5px;
        color:#21252E    ;
       
    }
    h4{
        color:#404144     ;
    }
    ion-label{
        color:#22356B;  
    }
    img{
        padding-top:5px;
    }
    h2{
        padding-top:5px;
        color:black  ;
    }
    ion-label{
        color:#535354  ;
    }
    .p2{
        text-align: right;
    }
}
